{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cupiditate laborum sunt architecto earum explicabo molestiae tempora? Reiciendis culpa consequuntur harum unde inventore ex, quia voluptate sint. Vel, illum et.Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut, accusantium dolor, magnam rerum tenetur veniam distinctio exercitationem officiis suscipit perferendis molestiae numquam illo consequuntur dicta soluta deserunt quo ab.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                signup
            </a>
        </div>
    </section>
</main>

{% endblock %}